<configuration>
  <appSettings>
    <add key="dbConnStr_0" value="SERVER=10.12.39.22,1433; DATABASE=LUXBOOK; UID=bookie; PWD=bookie@Luxbook#753;" />

    <add key="APDS_API" value="http://175.107.181.232/v1/" />

    <add key="FLD_AC1_HST" value="\Data\ACC1\HST\" />
    <add key="FLD_AC1_VIC" value="\Data\ACC1\VIC\" />
    <add key="FLD_AC1_NSW" value="\Data\ACC1\NSW\" />
    <add key="FLD_AC1_QLD" value="\Data\ACC1\QLD\" />

    <add key="FLD_AC2_HST" value="\Data\ACC2\HST\" />
    <add key="FLD_AC2_VIC" value="\Data\ACC2\VIC\" />
    <add key="FLD_AC2_NSW" value="\Data\ACC2\NSW\" />
    <add key="FLD_AC2_QLD" value="\Data\ACC2\QLD\" />

    <add key="global_cs" value="global.css" />
    <add key="global_js" value="global.js" />
  </appSettings>

  <system.web>
    <!-- compilation debug="false" /-->
    <compilation debug="true" />
    <customErrors mode="Off" />
 <sessionState mode="SQLServer" sqlConnectionString="Data Source=10.12.39.22;User Id=bookie;Password=bookie@Luxbook#753;Application Name=Luxbook"  />
    <machineKey validationKey="F76CE2E19CDCD2E12FA907A49AB87CDE277B2D5F0BA4B9710B05A9B2CDB7CA8DF1A5C449FDC8DECAF06D23B6FC863C1506ED82E71DE57A38317E178F9C981938" decryptionKey="86C00D5A7DDE5B3823EEA904C9C7AB0E9A138205DBCCB4B0" validation="SHA1" decryption="AES"/>    
    <httpRuntime executionTimeout="900" maxRequestLength="4096" useFullyQualifiedRedirectUrl="false" />
    <globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" />
  </system.web>
    <system.webServer>
  
        <handlers>
            <remove name="aspx" />
        </handlers>
    </system.webServer>
</configuration>