<div class="panel-frame">
    <table class="table">
        <thead>
            <tr>
                <th>
                    <h4 class="panel-title">Assignments for {{ctrl.options.dates[ctrl.options.date] |toDisplayDate}}</h4>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <table id="list-table" class="table table-striped">
                        <thead>
                            <tr>
                                <th>&nbsp;</th>
                                <th colspan="2" class="border center">SUN</th>
                                <th colspan="2" class="border center">TAB</th>
                                <th colspan="2" class="border center">LUX</th>
                            </tr>
                            <tr>
                                <th>Name</th>
                                <th width="50px" class="border-left">MA</th>
                                <th width="50px" class="border-left">Trader</th>
                                <th width="50px" class="border-left">MA</th>
                                <th width="50px" class="border-left">Trader</th>
                                <th width="50px" class="border-left">MA</th>
                                <th width="50px" class="border-left">Trader</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in ctrl.vm.traderAssignments" class="meeting-row">
                                <td>{{item.Name}} (Level {{item.Lvl}})</td>
                                <td class="border-left"><input type="checkbox" ng-model="item.SunMa" /></td>
                                <td class="border-left"><input type="checkbox" ng-model="item.SunTrader" /></td>
                                <td class="border-left"><input type="checkbox" ng-model="item.TabMa" /></td>
                                <td class="border-left"><input type="checkbox" ng-model="item.TabTrader" /></td>
                                <td class="border-left"><input type="checkbox" ng-model="item.LuxMa" /></td>
                                <td class="border-left"><input type="checkbox" ng-model="item.LuxTrader" /></td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        <tbody>
    </table>
</div>
