<!doctype html>
<html ng-app="WebApp" ng-controller="AppCtrl">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Rubix Racing - Assign Trader</title>

    <link rel="stylesheet" href="/ui/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/ui/static/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/ui/static/css/font-awesome.min.css">
    <link rel="stylesheet" href="/ui/static/css/toastr.min.css">
    <link rel="stylesheet" href="/ui/static/css/custom.css?v={{ver}}">
    <link rel="stylesheet" href="/ui/static/css/assign-trader.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angularjs-datepicker/2.1.21/angular-datepicker.min.css" />
    <script src="/ui/static/js/jquery-2.1.4.min.js"></script>
    <script src="/ui/static/js/jquery.ajax-cross-origin.min.js"></script>
    <script src="/ui/static/js/bootstrap.min.js"></script>

</head>

<body>

    <div class="container-fluid assign-container">

        <h3>Assign Traders and MAs</h3>

        <form class="assign-form">

            <div <div class="col-md-1 data-panel filter-panel">
                <options-panel></options-panel>
            </div>
            <div <div class="col-md-4 data-panel meetings-panel">
                <meetings-panel ng-if="!ctrl.vm.busy"></meetings-panel>
            </div>
            <div <div class="col-md-4 data-panel assign-panel">
                <assign-panel ng-if="!ctrl.vm.busy"></assign-panel>
            </div>
            <div <div class="col-md-3 data-panel list-panel">
                <list-panel ng-if="!ctrl.vm.busy"></list-panel>
            </div>

        </form>

    </div>
    <!-- Scripts -->
    <script src="/ui/static/js/angular.min.js"></script>
    <script src="/ui/static/js/angular-route.min.js"></script>
    <script src="/ui/static/js/toastr.min.js"></script>
    <script src="/ui/static/js/bootbox.min.js" defer async></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angularjs-datepicker/2.1.21/angular-datepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/locale/en-au.js"></script>

    <!-- App and Modules -->
    <script src="/ui/modules/assign_trader/viewmodel.js"></script>
    <script src="/ui/modules/assign_trader/module.js"></script>
    <script src="/ui/assignApp.js"></script>

    <script>
    </script>

</body>

</html>