<div class="panel-frame">
    <table class="table">
        <thead>
            <tr>
                <th>
                    <h4 class="panel-title">Assignments list for meeting date : <span class="navy">{{ctrl.vm.date}}</span></h4>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <table-scroller offset="180">
                        <table class="table table-body list-table">
                            <tbody>
                                <tr ng-repeat-start="item in ctrl.vm.eventAssignments | filter: ctrl.vm.typeFilter" class="list-row">
                                    <td width="48px"><img src="/img/{{item.Country}}.jpg" border="0" /></td>
                                    <td width="48px"><img src="/img/{{item.Type}}.png" border="0" /></td>
                                    <td width="48px">R{{item.Event_No}}</td>
                                    <td width="200px">{{item.Venue}}</td>
									<td width="48px">{{item.StartTime | toDisplayTime}}</td>
                                </tr>
                               <tr ng-repeat-end="">
                                    <td colspan="6">
                                         <table style="width:100%; border: 1px;">
                                               <tr style="height:28px">
                                                    <td style="width:35%; border:0px">&nbsp;</td>                                                    
                                                    <td class="assignment-trader-product"><img class="small-badge" src="/img/badge-sun.png" /></td>
                                                    <td class="assignment-trader-product"><img class="small-badge" src="/img/badge-tab.png" /></td>
                                                    <td class="assignment-trader-product"><img class="small-badge" src="/img/badge-lux.png" /></td>
                                                </tr>
                                        </table>
                                        <table class="assigns-table" style="width:100%">
											<thead>
												<tr style="border-bottom:1px solid">
                                                    <th class="assignment-action">&nbsp;</th>
													<th class="assignment-date">Assign Date</th>
													<th class="assignment-trader">Trader</th>
                                                    <th class="assignment-column"> MA</th>
                                                    <th class="assignment-column"> Trader</th>
                                                    <th class="assignment-column">MA</th>
                                                    <th class="assignment-column">Trader</th>
                                                    <th class="assignment-column">MA</th>
                                                    <th class="assignment-column">Trader</th>
												</tr>											
											</thead>
											<tbody>
												<tr ng-repeat="assign in item.Traders">
                                                    <td class="assignment-action">
                                                        <button type="button" class="btn btn-xs btn-danger btn-trash" ng-click=" ctrl.deleteAssignment(assign)">
                                                            <span class="glyphicon glyphicon-trash" >&nbsp;
                                                        </button>
                                                    </td>
													<td>{{assign.Assignment_Date | toShortDisplayDate}}</td>
													<td>{{assign.TraderName}}</td>
													<td><input  class="assignment-column" type="checkbox" ng-model="assign.Sun_Ma" ng-disabled="true"></td>
                                                    <td><input  class="assignment-column" type="checkbox" ng-model="assign.Sun_Trader" ng-disabled="true"></td>
													<td><input  class="assignment-column" type="checkbox" ng-model="assign.Tab_Ma" ng-disabled="true"></td>
                                                    <td><input  class="assignment-column" type="checkbox" ng-model="assign.Tab_Trader" ng-disabled="true"></td>
													<td><input  class="assignment-column" type="checkbox" ng-model="assign.Lux_Ma" ng-disabled="true"></td>
                                                    <td><input  class="assignment-column" type="checkbox" ng-model="assign.Lux_Trader" ng-disabled="true"></td>                                                                                
												</tr>
											</tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    <table-scroller>
                </td>
            </tr>
        <tbody>
    </table>
</div>
