<div id="event-modal" class="modalwindow">
    <div class="modal-title">
		<span>Race {{event.race}} : {{event.race_name}}</span>
		<span class="modal-close"><a href="#">X</a></span>
	</div>
    <div class="modal-content">
	    <table cellpadding="2" width="100%">
	        <tr><td colspan="2" align="center" class="modal-subtitle">Race Meeting Identifiers</td></tr>
	        <tr><td width="250px">Meeting Id</td><td class="modal-data">{{data.meeting_id}}</td></tr>
	        <tr><td>Meeting BTK Id</td><td class="modal-data">{{event.BTK_ID}}</td></tr>
	        <tr><td>PA Meeting Id</td><td class="modal-data">{{event.PA_MTG_ID}}</td></tr>
	        <tr><td>WIFT Meeting Id</td><td class="modal-data">{{event.WIFT_MTG_ID}}</td></tr>
	        <tr><td colspan="2"><hr /></td></tr>
	        
	        <tr><td colspan="2" align="center" class="modal-subtitle">Race Event Identifiers</td></tr>
	        <tr><td>Event Number</td><td class="modal-data">{{data.race_num}}</td></tr>
	        <tr><td>Event Name</td><td class="modal-data">{{event.race_name}}</td></tr>
	        <tr><td>Book Spec Id</td><td class="modal-data">{{event.BFR_MKT_ID_FP}}</td></tr>
	        <tr><td>Match Spec Id (GTX)</td><td class="modal-data">{{event.GTX_ID}}</td></tr>
	        <tr><td>PA Event Id</td><td class="modal-data">{{event.PA_EVT_ID}}</td></tr>
	        <tr><td>WIFT Event Id</td><td class="modal-data">{{event.WIFT_EVT_ID}}</td></tr>
	        <tr><td colspan="2"><hr /></td></tr>
	        <tr><td colspan="2">
	        	<div id="event-runners">
			        <table width="100%">
			        	<thead>
					        <tr id="runner-propid-header">
					        	<td width="80%">Runner</td>
					        	<td><a href="#" ng-click="autoAllocate()">AutoAllocate</a><br>Prop Id</td>
					        </tr>
			        	</thead>
			        	<tbody>
				            <tr ng-repeat="x in event.runners" ng-class-odd="'striped'">
				                <td class="modal-data"><span class="cyan">{{x.runner_num}}</span> {{x.runner}}</td>
				                <td class="modal-data">
				                	<input type="text" ng-model="x.tab_prop" size="7">
				                </td>
				            </tr>
				        </tbody>
		            </table>
		        </div>
	        </td></tr>
	    </table>
	    <hr class="hr" />
	    <input type="button" value="Save" class="modal-button modal-save" ng-click="savePropIds()" />
	    <input type="button" value="Cancel" class="modal-button modal-cancel" onclick="javascript:eventControl.closeWindow();" /> &nbsp;
    </div>
</div>
<style>
#event-runners table thead a {
	color: cyan;
	text-decoration: none;
	font-size: 12px;
	font-weight: 300;
	text-transform: uppercase;
}
#event-runners table tbody input {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px; 
	-khtml-border-radius: 4px; 
}
#event-runners, #event-runners table {
	padding: 0;
	margin: 0;
	overflow-y: auto;
}
.striped {
	background-color: #333333;
}
#event-runners table tbody span.cyan {
	color: cyan;
}
</style>
<script>
var eventControl = {

	data: {},
	event_ref: '',
	
	openWindow: function(data) {
		if (tmrEVN) {
			clearTimeout(tmrEVN);
		}
		this.data = data;
		this.event_ref = data.meeting_id+'_'+data.race_num;
		this.renderPopup();
		this.delegateEvents();
	},

	renderPopup: function() {
		var id = jQuery('#event-modal');
		var winH = jQuery(window).height();
		var winW = jQuery(window).width();
		id.css('top', 10);
		id.css('width', winW/3);
		id.css('left', winW-id.width()-50);
		id.css('max-height', winH-50);
		jQuery('#event-runners').css('max-height', winH-480);
		id.fadeIn(500);	
	},

	delegateEvents: function() {
		var _this = this;			
		// x in title bar
		jQuery('#event-modal .modal-close').click(function (event) {
			event.preventDefault();
			_this.closeWindow();
		});
    },
    
	// close window and restart 5 second refresh timer
	closeWindow: function() {
		getEVN(curVNL);
		jQuery('#event-modal').fadeOut(500);
		tmrEVN = setTimeout(function() {
			getEVN(curVNL);
		}, 5000);	
	}
};
</script>
