<div id="runner-modal" class="modalwindow shadow">
    <div class="modal-title">
		<span>{{data.runner_num}} : {{data.runner}}</span>
		<span class="modal-close"><a href="#">X</a></span>
	</div>
    <div class="modal-content">
		<table cellspacing="5">
			<tr><td width="150px">Meeting Id</td><td>{{data.meeting_id}}</td></tr>
			<tr><td>Race Number</td><td>{{data.race_num}}</td></tr>
			<tr><td>Runner Number</td><td>{{data.runner_num}}</td></tr>
			<tr><td>Tab Prop Id</td><td><input id="tab-prop" type="text" ng-model="data.tab_prop" size="8" /></td></tr>
		</table>
		<hr class="hr" />
		<input type="button" value="Save" class="modal-button modal-save" ng-click="savePropId()" />
	    <input type="button" value="Cancel" class="modal-button modal-cancel" onclick="javascript:runnerControl.closeWindow();" /> &nbsp;
    </div>
</div>

<script>
var runnerControl = {

	data: {},
	event_ref: '',
	
	openWindow: function(data) {
		if (tmrEVN) {
			clearTimeout(tmrEVN);
		}
		this.data = data;
		this.event_ref = data.Meeting_Id+'_'+data.Event_No;
		this.renderPopup();
		this.delegateEvents();
	},

	renderPopup: function() {
		var id = jQuery('#runner-modal');
		var winH = jQuery(window).height();
		var winW = jQuery(window).width();
		id.css('top', winH/2-id.height()/2);
		id.css('left', winW/2-id.width()/2);
		id.fadeIn(500);	
	},

	delegateEvents: function() {
		var _this = this;		
		// x in title bar        
		jQuery('#runner-modal .modal-close').click(function (event) {
			event.preventDefault();
			_this.closeWindow();
		});
	},
	
	// close window and restart 5 second refresh timer
	closeWindow: function() {
		getEVN(curVNL);
		jQuery('#runner-modal').fadeOut(500);
		tmrEVN = setTimeout(function() {
			getEVN(curVNL);
		}, 5000);	
	}
};
</script>
